<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201540801531-m3ddi1dnntb75qcqrtea4sgvtb9fpi5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201540801531-m3ddi1dnntb75qcqrtea4sgvtb9fpi5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201540801531-ok8k3odn48vk5kdp237549mcmt0jsdoh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGkKnWxyjJJ4olXyvwNhslMJ8mmuzYDs</string>
	<key>GCM_SENDER_ID</key>
	<string>201540801531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.islamicApp</string>
	<key>PROJECT_ID</key>
	<string>islamic-app-ed1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-app-ed1ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201540801531:ios:c5966a11536f5d169bb15e</string>
</dict>
</plist>